.btn {
    justify-content: center;
    display: flex;
    text-align: center;
    /* text-decoration: none; */

}

.btnbtn {
    text-decoration: none;
   
}

.add_user {
    padding: 30px;
   width: 600px;
   margin: 0 auto;
    text-align: center;
    background-color: rgb(201, 201, 201);
}

.add_user .button {
    text-align: center;
    display: flex;
    
}

.textarea {
    border: none;
    border-radius: 3px;
}

.S{
    text-align: center;
}